{% from "macros/tooltip.html" import tooltip %}
{% macro dashboardHeader(dashboard) %}
    <div id="logo">
        <h1>{{ dashboard.name }}</h1>
    </div>
    <div class="dashboard-header-actions">
        {% if dashboard.is_default != True %}
            {% if request.endpoint == 'dashboards.settings' %}
                {{ tooltip('<a href="' ~ url_for('dashboards.get', dashboard_id=dashboard.id, slug=dashboard.slug) ~ '"
                    class="base-button link-light"
                    aria-label="Back to dashboard">
                    <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
                    </a>', 'Back to dashboard', 'right', 'light') }}
            {% else %}
                {{ tooltip('<a href="' ~ url_for('dashboards.settings', dashboard_id=dashboard.id, slug=dashboard.slug) ~ '"
                    class="base-button link-light"
                    aria-label="Dashboard settings">
                    <i class="fa-solid fa-gear" aria-hidden="true"></i>
                    </a>', 'Dashboard settings', 'right', 'light') }}
            {% endif %}
        {% endif %}
    </div>
{% endmacro %}
